* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slot {
margin: 0 auto;
width: 500px;
display: flex;
align-items: center;
flex-direction: column;
gap: 30px;
}

#slot-screen {
background: #fafafa;
width: 100%;
display: flex;
justify-content: space-evenly;
}

.ring {
width: 100px;
height: 150px;
border: 2px solid #212121;
border-radius: 5px;
font-size: 50px;
display: grid;
place-items: center;
}

button {
padding: 12px 20px;
border-radius: 10%;
background-color: lightgreen;
}
.not-spinable {
background-color: grey;
}