@media screen and (width < 560px) {
    body {
        font-size: 0.7em;
    }
} @media screen and (width > 560px) {
    body {
        font-size: 1em;
    }
}

body {
    background-color: #333333;
    color: #a9a9a9;
}

a {
    color: black;
}

.chess-container, .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chess-board {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #EEEEE2;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.file {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: repeat(8, 50px);
    height: 400px;
    width: 50px;
}

.file:nth-of-type(odd) div:nth-of-type(even) {
    background-color: #769656;
}

.file:nth-of-type(even) div:nth-last-of-type(even) {
    background-color: #769656;
}

h1, h2, p {
    text-align: center;
}

table td {
    color: #fff;
    padding: 10px;
}
img {
    height: 50px;
    width: 50px;
}

#gold {
    color: #ffd500;
}

#silver {
    color: #c0c0c0;
}

#bronze {
    color: #cd7f32;
}