* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: ;*/
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.chess-container {
    background-color: #fff;
    padding: 2rem;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-weight: 500;
}

button {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #434343;
}

a {
    color: black;
}

.move-history {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    width: 400px;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}