* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.game {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}